.icon-mini-box{
    display: flex;
    justify-content: space-between;
   width: 50px;
    
}

    .icon-location-box{
        display: flex;
        justify-content: space-between;
        width: 154px
    }


.icon-box{
    display: inline-block;
    width: 200px;
    border: greenyellow solid 3px;
    border-radius: 10px;
    padding: 15px;
}

.icon-text {
    color: black;
    font-style: italic;
}